{% extends "botpanel/base.html" %}

{% block content %}

<div class="ps-3 m-1">
    <h3 class="text-center">Главная</h3>
    <div class="row">
        <div class="col border rounded-2 m-3 p-3 pt-2">
            <h5 class="text-center mb-3">Количество запросов</h5>
            <p class="mb-3 fs-5">Запросов за сегодня: {{ requests.today }}</p>
            <p class="mb-3 fs-5">Запросов за месяц: {{ requests.month }}</p>
            {% comment %} <span class="mb-3 fs-5">
                Запросов за месяц: {{ requests.month }}
                <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    График
                </button>
            </span>
            
            <div class="collapse mt-2" id="collapseExample">
                <div class="card card-body">
                    <div id="container"></div>
                </div>
            </div> {% endcomment %}
            
            <p class="mb-3 fs-5">Запросов за квартал: {{ requests.quarter }}</p>
            <p class="mb-3 fs-5">Запросов за год: {{ requests.year }}</p>
        </div>
        <div class="col border rounded-2 m-3 p-3 pt-2">
            <h5 class="text-center mb-3">Часто задаваемые вопросы</h5>
            <ul class="list-group">
                {% for question in faq %}
                <li class="list-group-item">{{ question.question_text }}<span class="float-end text-muted">Задали: {{ question.requests_count }} раз(а)</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col m-3 p-3 pt-2">
            
        </div>
        {% comment %} <div class="col border rounded-2 m-3 p-3 pt-2">
            <h5 class="text-center mb-3">Активные пользователи (за месяц)</h5>
            <ul class="list-group">
                {% for question in faq %}
                <li class="list-group-item">{{ question.question_text }}<span class="float-end text-muted">Задали: {{ question.requests_count }} раз(а)</span></li>
                {% endfor %}
            </ul>
        </div> {% endcomment %}
    </div>    
</div>

<script type="module">

</script>
{% endblock %}