{% extends "botpanel/base.html" %}

{% block content %}

<div class="ps-3 m-1">
    <h3 class="text-center">Стартовое меню</h3>
    <div class="row">
        <div class="col-5 ms-0">
            <div class="list-group" id="list-tab" data-bs-offset="0" tabindex="0" data-bs-spy="scroll" role="tablist" style="position: relative; height: 90vh; overflow: auto;">
                <div class="d-grid gap-1 d-md-block">
                    <a class="btn btn-primary mb-3" data-bs-toggle="list" href="#add-question" role="button" aria-controls="add-question">Добавить кнопку</a>
                </div>
                <a class="list-group-item list-group-item-action pe-1 disabled" data-bs-toggle="list" href="#button-faq" role="tab" aria-controls="button-faq">
                    Часто задаваемые вопросы
                </a>
                {% for data in buttons %}
                <a class="list-group-item list-group-item-action pe-1" data-bs-toggle="list" href="#button-{{ data.button.id }}" role="tab" aria-controls="button-{{ data.button.id }}">
                    {{ data.button.text }} <span class="float-end bg-white ps-2 pe-2 rounded-1 text-danger" onclick="delButton('{{ data.button.id }}');">Удалить</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-7">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade border rounded-2 w-100" style="position: relative; height: 90vh; overflow: auto;" data-bs-offset="0" tabindex="0" data-bs-spy="scroll" id="add-question" role="tabpanel" aria-labelledby="add-question">
                    <form class="mt-3" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-primary ms-3 me-3" type="submit" value="Добавить">
                    </form>
                </div>

                <div class="tab-pane fade border rounded-2 w-100" style="position: relative; height: 90vh; overflow: auto;" data-bs-offset="0" tabindex="0" data-bs-spy="scroll" id="button-faq" role="tabpanel" aria-labelledby="button-faq">
                </div>
                
                {% for data in buttons %}
                <div class="tab-pane fade border rounded-2 w-100" style="position: relative; height: 90vh; overflow: auto;" data-bs-offset="0" tabindex="0" data-bs-spy="scroll" id="button-{{ data.button.id }}" role="tabpanel" aria-labelledby="question-{{ data.button.id }}">
                    <form class="mt-3" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="button_id" id="id_button_id" value="{{ data.button.id }}">
                        {{ data.form }}
                        <input class="btn btn-primary ms-3 me-3" type="submit" value="Сохранить">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function delButton(button_id) {
        if (confirm("Удалить кнопку?")) {
            window.open(`/main-menu/button/${button_id}?action=delete`, "_self");
        }
    }
</script>
{% endblock %}